@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gudea&display=swap');

body {
  background-color: greenyellow;
}

.table {
  border-radius: 10px;
}

.container {
  margin-left: auto;
}

h1{
  font-family: Monoton;
  text-align: center;
}

h3{
  font-family: Gudea;
}

.searchbar{
  margin-left: 30%;
}